<div class="order-hero-unit order-history-hero-unit">
  <div class="container text-center hero-container">
    <h1>oh, the nostalgia.</h1>
  </div>
</div><br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Projects</button>
      </span>
      <input id="project-search" type="text" class="form-control" placeholder="Search by project name">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<br>
<br>
<br>
<div id="loans" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <% if params[:status] == "active" %>
        <%= render partial: "active_loans" %>
      <% else %>
        <%= render partial: "completed_loans" %>
      <% end %>
    </div>
  </div>
</div>
