<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit education-landing">
          <%= link_to "lend for education", "#", class:"btn btn-dark" %>
      </div>
    </div>
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit agriculture-landing">
        <%= link_to "lend for agriculture", "#", class:"btn btn-dark" %>
      </div>
    </div>
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit food-landing category-unit-gifts">
          <%= link_to "lend for food", "#", class:"btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
