<div class="row">
  <div class="col-xs-12 col-sm-7 featured-project">
    <a href="/lend">
      <div class="text-center project-unit featured featured-general category-unit">
          <h1>all the things</h1>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 featured-project featured-sub-project">
    <div class="row">
      <% category = Category.pluck(:name).sample %>
      <div class="featured-sub-project">
        <a href="/categories/<%= category %>">
          <div class="text-center project-unit featured-category category-unit">
              <h1>lend to <%= category %> </h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
