<div class="row">
  <div class="col-xs-12 col-sm-7 featured-project">
    <a href="/lend">
      <div class="text-center project-unit featured featured-general category-unit">
          <h1>all the things</h1>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 featured-project featured-sub-project">
    <div class="row">
      <div class="featured-sub-project">
        <a href="/<%= @project.country.name %>">
          <div class="text-center project-unit featured-country category-unit">
              <h1><%= @project.country.name.downcase %></h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
