<div class="row">
  <div class="col-xs-12 col-sm-7 featured-project">
    <a href="/projects">
      <div class="text-center project-unit featured-coffee category-unit-coffee">
          <h1>all the things</h1>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 featured-project featured-sub-project">
    <div class="row">
      <div class="featured-sub-project">
        <a href="/tools">
          <div class="text-center project-unit featured-tool category-unit-coffee">
              <h1>the only pourover</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
