<footer class="footer">
  <div class="row">
    <div class="col-xs-12 text-center lo-footer copyright">
      <p class="footer-text">© 2016 <span class="footer-text-bold">LENDING OWL</span> Inc., All Rights Reserved</p>
    </div>
  </div>
</footer>
