<div class="row">
  <div class="col-xs-8 col-xs-offset-2 justified quote-div">
    <h2>“The key to ending extreme poverty is to enable the poorest of the poor to get their
foot on the ladder of development.”<br>
<span>—Jeffrey Sachs</span></h2>
    <br>
  </div>
</div>
