.general-hero-unit {
  background-image: url('https://images.unsplash.com/photo-1440909921208-2fcbb9e42f7e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=82524da0a66a78f1bc2f6c04e33af625')
}

.category-show-hero {
  background-image: url('https://images.unsplash.com/photo-1447175008436-054170c2e979?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300')
}

.category-name h2 {
  font-weight: 300;
  font-size: 25px;
}

.category-hero-unit {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:150px;
  margin-top: -5px;

  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 25px;
    color: #FFFFFF;
  }

  a:hover {
    color: #000;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}
