.btn-dark {
  background: rgba(43,43,43, .5);
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark {
    background: rgba(64,64,64,.5);
    color: #ffffff;
}

.hero-unit {
  background-image:url('https://images.unsplash.com/photo-1457171907497-235711313923?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=825');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:450px;
  margin-top: -5px;
}

.hero-unit a {
  text-decoration: none;
}

.hero-unit a:hover {
  text-decoration: none;
  color: #fff;
}

.hero-unit h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 120px;
  margin-bottom: 0;
}

.hero-unit h2 {
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.landing-span {
  font-weight: normal;
}

.category-unit {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:250px;
  a {
    position: relative;
    top: 40%;
  }
  }

.category-landing {
  margin:0;
  padding:0;
}

.education-landing {
  background-image: url('https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=bcfa2aedb65f1d4bda7ee0cfd7f6932c');
}

.agriculture-landing {
  background-image: url('https://images.unsplash.com/photo-1422098941530-1350f220d7e0?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1025');
}

.food-landing {
  background-image: url('https://images.unsplash.com/reserve/fPuLkQNXRUKI6HQ2cMPf_IMG_4761.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1025');
}

.category-unit h1 {
  margin:0;
  font-size: 2em;
  font-weight: 300;
  padding-top: 45px;
}

.category-landing a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.borrow-hero-unit {
    background-image:url('https://images.unsplash.com/photo-1456559709170-8592cea2d19c?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=875');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:250px;
    margin-top: -5px;
    a {
      position: relative;
      top: 40%;
      text-decoration: none;
    }
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 2.2em;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 1;
        margin-top: 100px;
        margin-bottom: 0;
    }

  }

.borrow-hero-unit a {

}

.borrow-hero-unit a:hover {
  text-decoration: none;
  color: #000;
}

.borrow-hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
}

.quote-div {
  h2 {
    font-size: 25px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: 400;
    span {
      font-weight: 300;
      float: right;
    }
  }
}


/* Landscape phones and down */
@media (max-width: 765px) {
  .hero-unit {
    width: 100%;
    height:320px;
  }

  .hero-unit h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .hero-unit h2 {
    font-size: 15px;
    margin-bottom: 25px;
    margin-bottom: 25px;
  }

  .category-unit {
    width: 100%;
    height:320px;
  }
}

@media (max-width: 456px) {
  .hero-unit {
    width: 100%;
    height:250px;
  }

  .hero-unit h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .hero-unit h2 {
    font-size: 15px;
    margin-bottom: 0;
    margin-bottom: 25px;
  }

  .category-unit {
    width: 100%;
    height:250px;
  }

  .category-unit h1 {
    font-size: 30px;
  }
}
