.search-container {
  margin: 20px;
}

.admin-project-index-header {
  margin: 0;
}

.admin-project-index-header h2 {
  margin: 0;
  padding: 0;
}

.project-container {
  margin: 10px;
}

.btn-lending-owl {
  color: white;
  background-color: #e74c3c;
}
.cart {
  padding: 15px;
  border:1px solid #DADFE1;
}

.featured-project {
  margin-top: 20px;
  margin-right: 30px;
}

.project-unit {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:300px;
}

.sm-project-info h4 {
  font-weight: 300;
  font-size: 15px;
}


.project-info a {
  text-decoration: none;
}

.project-info h4 {
  margin:0;
}

.sm-project-info h4 {
  margin-bottom:0;
}

@media (min-width:767px) {
  .project-info {
    display: none;
  }

  .xs-project-row {
    display: none;
  }

  .all-hero-unit {
    display: none;
  }
}

@media (max-width:767px) {
  .cart {
    margin-top: 10px;
  }

  .category-list {
    display: none;
  }

  .sm-project-row {
    display: none;
  }

  .sm-project-info {
    display: none;
  }

  .featured-sub-project {
    display: none;
  }

  .all-hero-unit {
    background-image: url('https://images.unsplash.com/photo-1444012236767-1b471c68781c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=80b7caf0ee750fbca6d5e68136aac5d1');
  }
}

.project-header {
  margin-bottom: 20px;
  font-weight: 800;
}

.project-header h2 {
  font-size: 25px;
  font-weight: 300;
}

.project-header p {
  color: #BDC3C7;
}

.divider {
  width:400px;
  height:0;
  border-top:2px solid rgba(192,192,192,0.3);
  font-size:0;
}

.project-image {
  width: 350px;
  height:200px;
  overflow:hidden;
}

.projects {
  margin-left: 15px;
}

.projects-rows {
  margin-top: 10px;
}

.project-div {
  margin-top: 15px;
}

.project-name {
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 1px;
}

.project-desc {
  margin-top:0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-projects td {
  text-align: center;
}

@media only screen and (max-device-width: 480px) {
  .project-desc {
    display: hidden;
  }

}

.project-update-form {
  display: inline-block;
  height: 34px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.featured-country {
  background-image:url('https://images.unsplash.com/photo-1421878615130-7c5243914117?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=b694cda10e958c188a29d051377f303b');
  h1 {
    padding-top: 100px;
    text-decoration: none;
    color:#fff;
  }
}

.featured-general {
  background-image:url('https://images.unsplash.com/uploads/1412825195419af52b492/8bc72ed7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f081380afa483e543a899a8ed02cd81f');
}

.featured-category {
  background-image:url('https://images.unsplash.com/photo-1440635592348-167b1b30296f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ebd49a823d1c9755cce8ac8e368b804f');
  h1 {
    padding-top: 100px;
    text-decoration: none;
    color:#fff;
  }
}

.featured h1 {
  text-decoration: none;
  color: #fff;
  margin-right:0;
  float: right;
  padding-top: 25px;
  padding-right: 40px;
  font-weight: 300;
  font-size: 20px;
}

.featured-tool h1 {
  margin:0;
}

@media (min-width:1200px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

@media (max-width:1200px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

@media (max-width:992px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

.featured-tool {
  background-image:url('http://s3.amazonaws.com/lendingowl-turing/projects/images/000/000/030/show/open-uri20160308-77869-20mqbw?1457497082');
}

.project-funding {
  font-weight: 300;
}
