<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center dashboard-rev-header">Borrower Dashboard
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Project Goals</h3>
    <%= bar_chart current_user.projects.group(:name).sum(:goal) %>
  </div>
</div>
